.slider-wrap
	.slide-control
		a(href="javascript:void(0);" class="slide-prev")
		a(href="javascript:void(0);" class="slide-next")
	.slide-btn
		span
		span
		span
	ul.slide-box
		li(style="background-image:url('/img/index/banner3.jpg')")
			a(href="javascript:void(0);")
		li(style="background-image:url('/img/index/banner2.jpg')")
			.inner
				a(href="javascript:void(0);" class="more")
					i
					| 了解更多
		li(style="background-image:url('/img/index/banner1.jpg')")
			a(href="javascript:void(0);")