meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
meta(name="renderer" content="webkit")
meta(http-equiv="Access-Control-Allow-Origin" content="*")
meta(name="Keywords" content="慕课网,慕课,IT在线学习,在线编程,MOOC,IT技能,IT在线教育,it技能培训,免费编程视频,在线编程学习,php开发,IT在线视频教程,css教程,it在线编程,慕课官网")
meta(name="Description" content="慕课网（IMOOC）是国内最大的IT技能学习平台。慕课网提供了丰富的移动端开发、php开发、web前端、android开发以及html5等视频教程资源公开课。并且富有交互性及趣味性，你还可以和朋友一起编程。")
link(rel="shortcut icon" href="/img/favicon.ico")
link(rel='stylesheet', href='/css/style.css')