@charset "UTF-8";
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
:focus{outline:0}
address,caption,cite,code,dfn,em,optgroup,strong,th,var{font-style:normal;font-weight:400}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-family:"Microsoft YaHei"}
abbr,acronym{border:0;font-variant:normal}
code,kbd,samp,tt{font-size:100%}
button,input,select,textarea{*font-size:100%;border:none}
body{background:#fff;color:#5e5e5e;font:14px/2em Microsoft YaHei,SimSun,Arial}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sub,sup{font-size:100%;vertical-align:baseline}
:link,:visited,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a:link,a:visited{color:#5e5e5e}
a:hover{color:#c9394a}
a:active{color:#666}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.clear{height:0;overflow:hidden;clear:both}
.btn.hide,.hide{display:none}
a.hidefocus{outline:0}
button.hidefocus::-moz-focus-inner{border:none}
a:focus{outline:0;-moz-outline:0}
input,textarea{outline:0}
h2{font-size:20px}
h3{font-size:16px;line-height:32px}
h5{font-size:14px;line-height:28px}
@font-face{font-family:icomoon;src:url(/fonts/icomoon.eot?-c9v9sm);src:url(/fonts/icomoon.eot?-c9v9sm#iefix) format('embedded-opentype'),url(/fonts/icomoon.woff?-c9v9sm) format('woff'),url(/fonts/icomoon.ttf?-c9v9sm) format('truetype');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-stroke-width:.2px}
.icon-show-pw:before{content:"\e648"}
.icon-share-weibo:before{content:"\e645"}
.icon-share-weichat:before{content:"\e646"}
.icon-share-qq:before{content:"\e647"}
.icon-tick:before{content:"\e600"}
.icon-home:before{content:"\e601"}
.icon-clock:before{content:"\e602"}
.icon-chat:before{content:"\e603"}
.icon-msg:before{content:"\e604"}
.icon-resp:before{content:"\e605"}
.icon-addques:before{content:"\e606"}
.icon-user:before{content:"\e607"}
.icon-wiki:before{content:"\e608"}
.icon-plan:before{content:"\e609"}
.icon-note:before{content:"\e60a"}
.icon-edit:before{content:"\e60b"}
.icon-share:before{content:"\e60c"}
.icon-set:before{content:"\e60d"}
.icon-camera:before{content:"\e60e"}
.icon-del:before{content:"\e60f"}
.icon-search:before{content:"\e610"}
.icon-key:before{content:"\e611"}
.icon-mail:before{content:"\e612"}
.icon-smail:before{content:"\e613"}
.icon-point:before{content:"\e614"}
.icon-ques:before{content:"\e615"}
.icon-tick2:before{content:"\e616"}
.icon-chapter:before{content:"\e617"}
.icon-mobile:before{content:"\e618"}
.icon-gotop:before{content:"\e619"}
.icon-statistic:before{content:"\e61a"}
.icon-code:before{content:"\e61b"}
.icon-video:before{content:"\e61c"}
.icon-test:before{content:"\e61d"}
.icon-menu:before{content:"\e61e"}
.icon-plus:before{content:"\e61f"}
.icon-sub:before{content:"\e620"}
.icon-close:before{content:"\e621"}
.icon-down:before{content:"\e622"}
.icon-left:before{content:"\e623"}
.icon-top:before{content:"\e624"}
.icon-right:before{content:"\e625"}
.icon-exit:before{content:"\e626"}
.icon-refresh:before{content:"\e627"}
.icon-again:before{content:"\e628"}
.icon-bell:before{content:"\e629"}
.icon-nobell:before{content:"\e62a"}
.icon-nolearn:before{content:"\e62b"}
.icon-half:before{content:"\e62c"}
.icon-full:before{content:"\e62d"}
.icon-point-revert:before{content:"\e62e"}
.icon-ques-revert:before{content:"\e62f"}
.icon-tick-revert:before{content:"\e630"}
.icon-flag:before{content:"\e631"}
.icon-msg-revert:before{content:"\e632"}
.icon-ad:before{content:"\e633"}
.icon-imooc:before{content:"\e634"}
.icon-thumb:before{content:"\e635"}
.icon-thumb-revert:before{content:"\e636"}
.icon-star:before{content:"\e637"}
.icon-star-revert:before{content:"\e638"}
.icon-heart:before{content:"\e639"}
.icon-heart-revert:before{content:"\e63a"}
.icon-qq:before{content:"\e63b"}
.icon-weibo:before{content:"\e63c"}
.icon-qqweibo:before{content:"\e63d"}
.icon-weixin:before{content:"\e63e"}
.icon-folder:before{content:"\e63f"}
.icon-jian:before{content:"\e640"}
.icon-ding:before{content:"\e641"}
.icon-you:before{content:"\e642"}
.icon-apple:before{content:"\e643"}
.icon-android:before{content:"\e644"}
#header{width:auto;height:60px;background-color:#000;*zoom:1}
#header:after{display:table;content:"";clear:both}
#header a{color:#6c7582}
#header a:hover{color:#fff;background-color:#363c41}
#header .logo{float:left;width:140px;height:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;margin:0 20px;display:block;text-indent:100%;background:url(/img/logo.png) center center no-repeat}
#header .logo:hover{background-color:transparent}
#header .list{float:left;*zoom:1}
#header .list:after{display:table;content:"";clear:both}
#header .list li{float:left;width:80px}
#header .list li a{height:60px;line-height:60px;display:block;text-align:center;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-ms-transition:background-color .3s;-o-transition:background-color .3s;transition:background-color .3s}
#header .list li a:hover{background-color:#363c41}
#header .login-area{float:right;padding-right:20px;*zoom:1}
#header .login-area:after{display:table;content:"";clear:both}
#header .login-area a{display:block;float:left;text-align:center;width:60px;height:60px;line-height:60px;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
#header .login-area a.header-signin:hover{background-color:#c00}
#header .login-area .pop-tips{background:url(/img/icon_msg.png) center center no-repeat;position:relative}
#header .login-area .pop-tips:hover{background-color:#363c41}
#header .login-area .pop-tips i{font-size:10px;display:block;width:14px;height:16px;line-height:16px;left:32px;top:10px;text-align:center;font-style:normal;color:#fff;background-color:#c9394a;position:absolute}
#header .login-area .my-header:hover{background-color:transparent}
#header .login-area .my-header .head{vertical-align:middle;width:28px;height:28px;border-radius:22px;border:2px solid #3e4548}
#header .login-area.logined{position:relative}
#header .login-area .logined-list{*zoom:1}
#header .login-area .logined-list:after{display:table;content:"";clear:both}
#header .login-area .logined-list li{float:left;*zoom:1}
#header .login-area .logined-list li:after{display:table;content:"";clear:both}
#header .login-area .logined-list li.user-card-list{position:relative}
#header .login-area .logined-list li.user-card-list:hover .head{border-color:#f22c1a}
#header .login-area .logined-list li.user-card-list:hover .user-card{display:block}
#header .login-area .user-card{display:none;position:absolute;z-index:999;width:300px;padding-top:10px;top:100%;right:0}
#header .login-area .user-card .card-inner{box-shadow:0 4px 8px rgba(0,0,0,.2);background-color:#fff;*zoom:1}
#header .login-area .user-card .card-inner:after{display:table;content:"";clear:both}
#header .login-area .user-card:before{content:'';width:0;height:0;display:block;border:7px solid #f01400;border-top-width:0;border-bottom-width:8px;border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;position:absolute;top:2px;right:23px}
#header .login-area .user-card .card-top{padding-left:100px;height:100px;background:url(/img/user_card_top.png) 0 0 no-repeat;*zoom:1}
#header .login-area .user-card .card-top:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-top .card-head-img{width:60px;height:60px;margin:20px 18px 0 -83px;border:2px solid #fff;border-radius:50%;vertical-align:middle}
#header .login-area .user-card .card-top .meta,#header .login-area .user-card .card-top .user-name{color:#fff}
#header .login-area .user-card .card-top .user-name{font-size:18px;padding-top:30px;display:block}
#header .login-area .user-card .card-top .meta{*zoom:1;float:left}
#header .login-area .user-card .card-top .meta:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-top .meta a{font-weight:700;font-size:12px;color:#fff;width:auto;height:auto;display:inline;line-height:1em;margin-right:15px}
#header .login-area .user-card .card-top .meta a .js-user-mp{font-style:normal}
#header .login-area .user-card .card-top .meta a:hover{background-color:transparent}
#header .login-area .user-card .card-links{position:relative;height:60px;border-bottom:1px solid #edf1f2}
#header .login-area .user-card .card-links a{width:150px;font-size:12px;color:#14191e;font-weight:700;text-align:left;text-indent:20px}
#header .login-area .user-card .card-links a:hover{background-color:transparent;color:#c00}
#header .login-area .user-card .card-links:after{content:'';width:1px;height:30px;display:block;position:absolute;left:149px;top:15px;background-color:#edf1f2;z-index:99}
#header .login-area .user-card .card-history{position:relative;padding:20px 20px 15px 46px;border-bottom:1px solid #edf1f2}
#header .login-area .user-card .card-history .history-icon{position:absolute;top:20px;left:20px}
#header .login-area .user-card .card-history .history-class-name{font-size:12px;line-height:1em;font-weight:700;display:block;padding-bottom:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
#header .login-area .user-card .card-history .history-class-detail{font-size:10px;line-height:1em}
#header .login-area .user-card .card-history a{position:absolute;top:20px;right:20px;display:inline;line-height:1em;height:auto;width:auto;color:#f01400;font-size:12px}
#header .login-area .user-card .card-history a:hover{background-color:transparent;color:#d81200}
#header .login-area .user-card .card-setting{*zoom:1;padding:0 20px}
#header .login-area .user-card .card-setting:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-setting a{color:#787d82;font-size:12px;line-height:40px;height:auto;width:auto}
#header .login-area .user-card .card-setting a:hover{background-color:transparent;color:#f01400}
#header .down-app{float:right}
#header .down-app a{display:block;padding:0 8px;height:60px;line-height:60px;text-align:center}
#header .down-app a i{display:inline-block;width:11px;height:16px;background:url(/img/head-app-icon.png) 0 0 no-repeat;vertical-align:-3px;margin-right:5px;-webkit-transition:background-position .3s;-moz-transition:background-position .3s;-ms-transition:background-position .3s;-o-transition:background-position .3s;transition:background-position .3s}
#header .down-app a:hover i{background-position:0 -16px}
#header .search-area{float:right;width:240px;height:30px;margin:15px 20px 15px 0;position:relative;*zoom:1}
#header .search-area:after{display:table;content:"";clear:both}
#header .search-area input{-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-ms-transition:background-color .3s;-o-transition:background-color .3s;transition:background-color .3s}
#header .search-area .search-input{width:190px;height:20px;line-height:20px;font-size:12px;padding:5px 10px;float:left;color:#14191e;background-color:#363c41}
#header .search-area .search-input::-webkit-input-placeholder{color:#787d82}
#header .search-area .search-input:-moz-placeholder{color:#787d82}
#header .search-area .search-input::-moz-placeholder{color:#787d82}
#header .search-area .search-input:-ms-input-placeholder{color:#787d82}
#header .search-area .search-input:focus{background-color:#fff}
#header .search-area .search-input:focus~.search-btn{background-color:#fff;background-position:0 -40px}
#header .search-area .search-list{position:absolute;width:238px;top:31px;left:0;border:1px solid #d3d3d3;border-top:none;box-shadow:0 2px 4px rgba(0,0,0,.2);display:none}
#header .search-area .search-list li{background-color:#fff;line-height:40px;font-size:12px;color:#787d82;padding-left:10px}
#header .search-area .search-btn{width:30px;height:30px;float:left;background:#363c41 url(/img/gsearch-sprite.png) 0 0 no-repeat}
.slider-wrap{position:relative;width:100%;height:600px;overflow:hidden}
.slider-wrap:hover .slide-control a.slide-next,.slider-wrap:hover .slide-control a.slide-prev{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);opacity:1;filter:alpha(opacity=100)}
.slider-wrap .slide-control a{position:absolute;display:block;width:80px;height:100px;top:250px;z-index:99;background:url(/img/index/banner_sprite.png) no-repeat;-webkit-transition:transform .6s,opacity .6s;-moz-transition:transform .6s,opacity .6s;-ms-transition:transform .6s,opacity .6s;-o-transition:transform .6s,opacity .6s;transition:transform .6s,opacity .6s}
.slider-wrap .slide-control a.slide-prev{background-position:0 -41px;left:0;-webkit-transform:translate(-80px,0);-moz-transform:translate(-80px,0);-ms-transform:translate(-80px,0);-o-transform:translate(-80px,0);transform:translate(-80px,0)}
.slider-wrap .slide-control a.slide-prev:hover{background-position:-81px -41px}
.slider-wrap .slide-control a.slide-next{background-position:0 -142px;right:0;-webkit-transform:translate(80px,0);-moz-transform:translate(80px,0);-ms-transform:translate(80px,0);-o-transform:translate(80px,0);transform:translate(80px,0)}
.slider-wrap .slide-control a.slide-next:hover{background-position:-80px -142px}
.slider-wrap .slide-btn{position:absolute;left:0;right:0;bottom:30px;line-height:21px;z-index:99;*zoom:1;text-align:center}
.slider-wrap .slide-btn:after{display:table;content:"";clear:both}
.slider-wrap .slide-btn span{display:inline-block;width:10px;height:10px;border-radius:10px;margin:0 4px;background-color:#e3daef;cursor:pointer;-webkit-transition:transform .3s;-moz-transition:transform .3s;-ms-transition:transform .3s;-o-transition:transform .3s;transition:transform .3s}
.slider-wrap .slide-btn span.active{background-color:#fff}
.slider-wrap .slide-btn span:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.slider-wrap ul.slide-box{position:absolute;min-width:1200px;width:100%;height:600px}
.slider-wrap ul.slide-box li{display:none;width:100%;height:100%;background-position:center center;position:absolute;top:0;left:0;z-index:0}
.slider-wrap ul.slide-box li>a{display:block;width:100%;height:100%;position:absolute}
.slider-wrap ul.slide-box li.active{opacity:1;filter:alpha(opacity=100);z-index:9}
.slider-wrap ul.slide-box li .inner{width:1200px;height:600px;margin:0 auto;position:relative}
.slider-wrap ul.slide-box li .inner a{position:absolute;top:360px;right:80px;font-size:14px;height:14px;line-height:14px;color:#14191e;font-weight:700}
.slider-wrap ul.slide-box li .inner a i{width:14px;height:14px;display:inline-block;padding-right:6px;vertical-align:-2px;background:url(/img/index/banner_sprite.png) -120px 0 no-repeat}
.slider-wrap ul.slide-box li .inner .more:hover{opacity:.8;filter:alpha(opacity=80)}
body{min-width:1200px;line-height:1em}
.fl{float:left!important}
.fr{float:right!important}
.l{float:left}
.r{float:right}
.idx-width{width:1200px;margin:0 auto;position:relative}
.hide-text{text-indent:100%;white-space:nowrap;overflow:hidden;height:0}
.index-box{position:relative}
.index-box .box-height{height:400px}
.index-box.box1{background-color:#fff}
.index-box.box1 .inner-box{width:944px;padding:50px 128px;text-align:center;*zoom:1}
.index-box.box1 .inner-box:after{display:table;content:"";clear:both}
.index-box.box1 .inner-box img{opacity:0;filter:alpha(opacity=0)}
.index-box.box1 .inner-box .icon1{float:left}
.index-box.box1 .inner-box .icon2{float:right}
.index-box.box2{background-color:#eef1f2}
.index-box.box2 .idx-width img{position:absolute;opacity:0;filter:alpha(opacity=0)}
.index-box.box2 .idx-width .star{top:-20px}
.index-box.box2 .idx-width .video{top:-31px}
.index-box.box2 .idx-width .text1{top:164px;right:114px}
.index-box.box3{background-color:#fff}
.index-box.box3 img{position:absolute}
.index-box.box3 .computer{right:0;top:-26px}
.index-box.box3 .text2{top:164px;left:70px}
.index-box.box4{background-color:#eef1f2}
.index-box.box4 img{position:absolute}
.index-box.box4 .rockets{top:-46px;left:0}
.index-box.box4 .smoke{bottom:0;left:0}
.index-box.box4 .calendar{left:0;top:0}
.index-box.box4 .text3{top:165px;right:165px}
.index-box.box5{background-color:#fff}
.index-box.box5 img{position:absolute}
.index-box.box5 .text4{top:165px;left:146px}
.index-box.box5 .hand,.index-box.box5 .icon{right:0;top:-30px}
.class-box{background-color:#eef1f2}
.ad-banner{height:200px;overflow:hidden}
.ad-banner ul{*zoom:1}
.ad-banner ul:after{display:table;content:"";clear:both}
.ad-banner ul li{width:400px;float:left;overflow:hidden}
.ad-banner ul li a{display:block;opacity:.8;filter:alpha(opacity=80);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-ms-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s}
.ad-banner ul li a:hover{opacity:1;filter:alpha(opacity=100)}
.hot-class-box h2{text-align:center;line-height:111px;font-size:32px;color:#be3948;font-weight:400;background:url(/img/course-text.png) center center no-repeat}
.hot-class-box .class-all{padding:40px 0 60px;text-align:center}
.hot-class-box .class-all a{color:#363d40;font-size:16px;display:inline-block;border-radius:20px;width:118px;height:38px;line-height:38px;border:1px solid #d1d7da;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-ms-transition:background-color .3s;-o-transition:background-color .3s;transition:background-color .3s}
.hot-class-box .class-all a:hover{background-color:#d0d6d9}
ul.hot-class-list{*zoom:1}
ul.hot-class-list:after{display:table;content:"";clear:both}
ul.hot-class-list li{width:280px;margin:10px;float:left;box-shadow:0 2px 2px #e0e1e2;cursor:pointer;position:relative}
ul.hot-class-list li:hover .hot-list-title img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}
ul.hot-class-list li:hover .list-hover-text{opacity:1;filter:alpha(opacity=100);z-index:99}
ul.hot-class-list li .hot-list-title{height:160px;overflow:hidden}
ul.hot-class-list li .hot-list-title img{-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
ul.hot-class-list li .list-active-text{padding:0 14px 16px;background-color:#fff;*zoom:1}
ul.hot-class-list li .list-active-text:after{display:table;content:"";clear:both}
ul.hot-class-list li .list-active-text p{line-height:50px;font-size:12px;color:#363d40;text-align:center}
ul.hot-class-list li .list-active-text span{color:#b4bbbf;font-size:12px;line-height:1em}
ul.hot-class-list li .list-hover-text{width:252px;position:absolute;bottom:0;left:0;background-color:#fff;padding:0 14px 16px;*zoom:1;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-ms-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s;z-index:0}
ul.hot-class-list li .list-hover-text:after{display:table;content:"";clear:both}
ul.hot-class-list li .list-hover-text p{font-size:12px;color:#656e73;line-height:40px;padding-bottom:10px}
ul.hot-class-list li .list-hover-text span{font-size:12px;line-height:1em;color:#b4bbbf}
.mooc-family{background:url(/img/family-bg2.png) center center repeat-x;width:100%;position:relative}
.mooc-family .family-mask{position:absolute;width:100%;height:100%;background-color:#fff;z-index:996;opacity:.5;filter:alpha(opacity=50)}
.mooc-family .family-text{text-align:center;position:absolute;width:100%;height:100%;z-index:998}
.mooc-family .family-text img{position:absolute;top:50%;left:50%;margin:-23px 0 0 -119px}
.mooc-family .member-container{position:relative}
.mooc-family .member-container ul.family-list{*zoom:1}
.mooc-family .member-container ul.family-list:after{display:table;content:"";clear:both}
.mooc-family .member-container ul.family-list li.family-li{float:left;position:relative;width:200px;height:200px}
.mooc-family .member-container ul.family-list li.family-li .list-mask{position:absolute;width:100%;height:100%;z-index:9;background-color:#fff;opacity:.5;filter:alpha(opacity=50);top:0;left:0}
.mooc-family .member-container ul.family-list .family-info{background-color:#be3948;position:absolute;top:0;height:100%;color:#fff;z-index:99;display:none}
.mooc-family .member-container ul.family-list .info-lg{width:300px}
.mooc-family .member-container ul.family-list .info-sm{width:200px}
.mooc-family .member-container ul.family-list .info-left{left:100%}
.mooc-family .member-container ul.family-list .info-right{right:100%}
.mooc-family .member-container ul.family-list .teacher-intro{padding:23px 20px 27px}
.mooc-family .member-container ul.family-list .teacher-intro h3{font-size:18px;font-weight:400;line-height:1em}
.mooc-family .member-container ul.family-list .teacher-intro span{font-size:12px;line-height:1em;color:#ec9ba4}
.mooc-family .member-container ul.family-list .teacher-detail{font-size:12px;color:#f2bcc2;line-height:20px;padding:0 20px 36px}
.mooc-family .member-container ul.family-list .student-list{*zoom:1}
.mooc-family .member-container ul.family-list .student-list:after{display:table;content:"";clear:both}
.mooc-family .member-container ul.family-list .student-list li{width:100px;height:100px;position:relative;float:right}
.mooc-family .member-container ul.family-list .student-list .student-intro{padding:0 20px}
.mooc-family .member-container ul.family-list .student-list .student-intro h3{font-size:16px;line-height:1em;padding:10px 0 0}
.mooc-family .member-container ul.family-list .student-list .student-intro span{font-size:10px;color:#ec9b95;display:block;height:28px;line-height:2em}
.mooc-family .member-container ul.family-list .student-list .student-detail{*zoom:1;padding:0 20px}
.mooc-family .member-container ul.family-list .student-list .student-detail:after{display:table;content:"";clear:both}
.mooc-family .member-container ul.family-list .student-list .student-detail div{line-height:1em}
.mooc-family .member-container ul.family-list .student-list .student-detail span{display:block;font-size:12px;line-height:1em;color:#ec9ba4}
.mooc-family .member-container ul.family-list .student-list .student-detail em{font-size:12px}
.study-download{background:url(/img/mobile-bg.png) repeat;text-align:center;overflow:hidden;position:relative}
.study-download .idx-width{height:580px}
.study-download .download-title{padding:80px 0 40px}
.study-download .download-btn{margin-bottom:88px}
.study-download .download-btn a{display:inline-block}
.study-download .download-btn .download-abtn{width:158px;height:38px;line-height:38px;border:1px solid #be3948;border-radius:20px;font-size:14px;color:#be3948;margin:0 10px;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
.study-download .download-btn .download-abtn:hover{background-color:#be3948;color:#fff}
.study-download .download-btn .download-barcode{width:18px;height:18px;vertical-align:-4px;background:url(/img/index2-sprite.png) 0 -27px no-repeat}
.study-download .download-btn .download-barcode:hover{background-position:0 0}
.study-download .download-slide-img{position:absolute;bottom:0;left:0;height:307px}
.study-download .download-slide-img img{position:absolute;bottom:0;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
.study-download .download-slide-img .slide-mobile{left:198px;opacity:1;filter:alpha(opacity=100)}
.study-download .download-slide-img .slide-code{left:391px;bottom:0;opacity:0;filter:alpha(opacity=0)}
.join-mooc{background-color:#eef1f2;text-align:center;padding-top:70px;height:290px}
.join-mooc .join-btn{display:inline-block;width:220px;height:60px;border-radius:30px;background:#be3948 url(/img/begin-text.png) center center no-repeat;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
.join-mooc .join-btn:hover{opacity:.9;filter:alpha(opacity=90)}
#indexFooter{padding:30px 0 15px;background-color:#fff;text-align:center}
#indexFooter .mooc-share{padding-bottom:30px}
#indexFooter .mooc-share a{display:inline-block;width:32px;height:32px;margin:0 10px;background-image:url(/img/idx-btm.png)}
#indexFooter .mooc-share a.share-weibo{background-position:0 -221px}
#indexFooter .mooc-share a.share-weibo:hover{background-position:0 -262px}
#indexFooter .mooc-share a.share-weixin{background-position:-52px -221px;position:relative}
#indexFooter .mooc-share a.share-weixin i{width:160px;height:210px;overflow:hidden;position:absolute;bottom:40px;left:-64px;background:url(/img/idx-btm.png) -7px 0 no-repeat;display:none}
#indexFooter .mooc-share a.share-weixin:hover{background-position:-52px -262px}
#indexFooter .mooc-share a.share-weixin:hover i{display:inline-block}
#indexFooter .mooc-share a.share-pengyou{background-position:-104px -221px}
#indexFooter .mooc-share a.share-pengyou:hover{background-position:-104px -262px}
#indexFooter .mooc-share a.share-qq{background-position:-156px -221px}
#indexFooter .mooc-share a.share-qq:hover{background-position:-156px -262px}
#indexFooter .mooc-about{padding-bottom:29px;border-bottom:1px solid #d0d6d9}
#indexFooter .mooc-about a{font-size:14px;color:#99a1a6;margin:0 12px}
#indexFooter .mooc-about a:hover{color:#be3948}
#indexFooter .mooc-links{line-height:50px;font-size:14px;border-bottom:1px solid #edf1f2}
#indexFooter .mooc-links span{display:inline-block;font-weight:700;color:#c8cdd2;margin-right:13px}
#indexFooter .mooc-links a{color:#c8cdd2;display:inline-block;margin:0 10px}
#indexFooter .mooc-links a:hover{color:#000}
#indexFooter .mooc-copyRight{padding-top:25px;color:#b4bbbf;font-size:14px}