@charset "UTF-8";
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
:focus{outline:0}
address,caption,cite,code,dfn,em,optgroup,strong,th,var{font-style:normal;font-weight:400}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-family:"Microsoft YaHei"}
abbr,acronym{border:0;font-variant:normal}
code,kbd,samp,tt{font-size:100%}
button,input,select,textarea{*font-size:100%;border:none}
body{background:#fff;color:#5e5e5e;font:14px/2em Microsoft YaHei,SimSun,Arial}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sub,sup{font-size:100%;vertical-align:baseline}
:link,:visited,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a:link,a:visited{color:#5e5e5e}
a:hover{color:#c9394a}
a:active{color:#666}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.l{float:left}
.r{float:right}
.clear{height:0;overflow:hidden;clear:both}
.btn.hide,.hide{display:none}
a.hidefocus{outline:0}
button.hidefocus::-moz-focus-inner{border:none}
a:focus{outline:0;-moz-outline:0}
input,textarea{outline:0}
h2{font-size:20px}
h3{font-size:16px;line-height:32px}
h5{font-size:14px;line-height:28px}
@font-face{font-family:icomoon;src:url(/fonts/icomoon.eot?-c9v9sm);src:url(/fonts/icomoon.eot?-c9v9sm#iefix) format('embedded-opentype'),url(/fonts/icomoon.woff?-c9v9sm) format('woff'),url(/fonts/icomoon.ttf?-c9v9sm) format('truetype');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-stroke-width:.2px}
.icon-show-pw:before{content:"\e648"}
.icon-share-weibo:before{content:"\e645"}
.icon-share-weichat:before{content:"\e646"}
.icon-share-qq:before{content:"\e647"}
.icon-tick:before{content:"\e600"}
.icon-home:before{content:"\e601"}
.icon-clock:before{content:"\e602"}
.icon-chat:before{content:"\e603"}
.icon-msg:before{content:"\e604"}
.icon-resp:before{content:"\e605"}
.icon-addques:before{content:"\e606"}
.icon-user:before{content:"\e607"}
.icon-wiki:before{content:"\e608"}
.icon-plan:before{content:"\e609"}
.icon-note:before{content:"\e60a"}
.icon-edit:before{content:"\e60b"}
.icon-share:before{content:"\e60c"}
.icon-set:before{content:"\e60d"}
.icon-camera:before{content:"\e60e"}
.icon-del:before{content:"\e60f"}
.icon-search:before{content:"\e610"}
.icon-key:before{content:"\e611"}
.icon-mail:before{content:"\e612"}
.icon-smail:before{content:"\e613"}
.icon-point:before{content:"\e614"}
.icon-ques:before{content:"\e615"}
.icon-tick2:before{content:"\e616"}
.icon-chapter:before{content:"\e617"}
.icon-mobile:before{content:"\e618"}
.icon-gotop:before{content:"\e619"}
.icon-statistic:before{content:"\e61a"}
.icon-code:before{content:"\e61b"}
.icon-video:before{content:"\e61c"}
.icon-test:before{content:"\e61d"}
.icon-menu:before{content:"\e61e"}
.icon-plus:before{content:"\e61f"}
.icon-sub:before{content:"\e620"}
.icon-close:before{content:"\e621"}
.icon-down:before{content:"\e622"}
.icon-left:before{content:"\e623"}
.icon-top:before{content:"\e624"}
.icon-right:before{content:"\e625"}
.icon-exit:before{content:"\e626"}
.icon-refresh:before{content:"\e627"}
.icon-again:before{content:"\e628"}
.icon-bell:before{content:"\e629"}
.icon-nobell:before{content:"\e62a"}
.icon-nolearn:before{content:"\e62b"}
.icon-half:before{content:"\e62c"}
.icon-full:before{content:"\e62d"}
.icon-point-revert:before{content:"\e62e"}
.icon-ques-revert:before{content:"\e62f"}
.icon-tick-revert:before{content:"\e630"}
.icon-flag:before{content:"\e631"}
.icon-msg-revert:before{content:"\e632"}
.icon-ad:before{content:"\e633"}
.icon-imooc:before{content:"\e634"}
.icon-thumb:before{content:"\e635"}
.icon-thumb-revert:before{content:"\e636"}
.icon-star:before{content:"\e637"}
.icon-star-revert:before{content:"\e638"}
.icon-heart:before{content:"\e639"}
.icon-heart-revert:before{content:"\e63a"}
.icon-qq:before{content:"\e63b"}
.icon-weibo:before{content:"\e63c"}
.icon-qqweibo:before{content:"\e63d"}
.icon-weixin:before{content:"\e63e"}
.icon-folder:before{content:"\e63f"}
.icon-jian:before{content:"\e640"}
.icon-ding:before{content:"\e641"}
.icon-you:before{content:"\e642"}
.icon-apple:before{content:"\e643"}
.icon-android:before{content:"\e644"}
body{min-width:1200px}
.fl{float:left!important}
.fr{float:right!important}
#header{width:auto;height:60px;background-color:#000;*zoom:1}
#header:after{display:table;content:"";clear:both}
#header a{color:#6c7582}
#header a:hover{color:#fff;background-color:#363c41}
#header .logo{float:left;width:115px;height:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;margin:0 30px;display:block;text-indent:100%;background:url(/img/logo.png) center center no-repeat}
#header .logo:hover{background-color:transparent}
#header .list{float:left;*zoom:1}
#header .list:after{display:table;content:"";clear:both}
#header .list li{float:left;width:80px}
#header .list li a{height:60px;line-height:60px;display:block;text-align:center;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-ms-transition:background-color .3s;-o-transition:background-color .3s;transition:background-color .3s}
#header .list li a:hover{background-color:#363c41}
#header .login-area{float:right;padding-right:20px;*zoom:1}
#header .login-area:after{display:table;content:"";clear:both}
#header .login-area a{display:block;float:left;text-align:center;width:60px;height:60px;line-height:60px;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
#header .login-area a.header-signin:hover{background-color:#c00}
#header .login-area .pop-tips{background:url(/img/icon_msg.png) center center no-repeat;position:relative}
#header .login-area .pop-tips:hover{background-color:#363c41}
#header .login-area .pop-tips i{font-size:10px;display:block;width:14px;height:16px;line-height:16px;left:32px;top:10px;text-align:center;font-style:normal;color:#fff;background-color:#c9394a;position:absolute}
#header .login-area .my-header:hover{background-color:transparent}
#header .login-area .my-header .head{vertical-align:middle;width:28px;height:28px;border-radius:22px;border:2px solid #3e4548}
#header .login-area.logined{position:relative}
#header .login-area .logined-list{*zoom:1}
#header .login-area .logined-list:after{display:table;content:"";clear:both}
#header .login-area .logined-list li{float:left;*zoom:1}
#header .login-area .logined-list li:after{display:table;content:"";clear:both}
#header .login-area .logined-list li.user-card-list{position:relative}
#header .login-area .logined-list li.user-card-list:hover .head{border-color:#f22c1a}
#header .login-area .logined-list li.user-card-list:hover .user-card{display:block}
#header .login-area .user-card{display:none;position:absolute;width:300px;padding-top:10px;top:100%;right:0}
#header .login-area .user-card .card-inner{box-shadow:0 4px 8px rgba(0,0,0,.2);background-color:#fff;*zoom:1}
#header .login-area .user-card .card-inner:after{display:table;content:"";clear:both}
#header .login-area .user-card:before{content:'';width:0;height:0;display:block;border:7px solid #f01400;border-top-width:0;border-bottom-width:8px;border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;position:absolute;top:2px;right:23px}
#header .login-area .user-card .card-top{padding-left:100px;height:100px;background:url(/img/user_card_top.png) 0 0 no-repeat;*zoom:1}
#header .login-area .user-card .card-top:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-top .card-head-img{width:60px;height:60px;margin:20px 18px 0 -83px;border:2px solid #fff;border-radius:50%;vertical-align:middle}
#header .login-area .user-card .card-top .meta,#header .login-area .user-card .card-top .user-name{color:#fff}
#header .login-area .user-card .card-top .user-name{font-size:18px;padding-top:30px;display:block}
#header .login-area .user-card .card-top .meta{*zoom:1;float:left}
#header .login-area .user-card .card-top .meta:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-top .meta a{font-weight:700;font-size:12px;color:#fff;width:auto;height:auto;display:inline;line-height:1em;margin-right:15px}
#header .login-area .user-card .card-top .meta a .js-user-mp{font-style:normal}
#header .login-area .user-card .card-top .meta a:hover{background-color:transparent}
#header .login-area .user-card .card-links{position:relative;height:60px;border-bottom:1px solid #edf1f2}
#header .login-area .user-card .card-links a{width:150px;font-size:12px;color:#14191e;font-weight:700;text-align:left;text-indent:20px}
#header .login-area .user-card .card-links a:hover{background-color:transparent;color:#c00}
#header .login-area .user-card .card-links:after{content:'';width:1px;height:30px;display:block;position:absolute;left:149px;top:15px;background-color:#edf1f2;z-index:99}
#header .login-area .user-card .card-history{position:relative;padding:20px 20px 15px 46px;border-bottom:1px solid #edf1f2}
#header .login-area .user-card .card-history .history-icon{position:absolute;top:20px;left:20px}
#header .login-area .user-card .card-history .history-class-name{font-size:12px;line-height:1em;font-weight:700;display:block;padding-bottom:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
#header .login-area .user-card .card-history .history-class-detail{font-size:10px;line-height:1em}
#header .login-area .user-card .card-history a{position:absolute;top:20px;right:20px;display:inline;line-height:1em;height:auto;width:auto;color:#f01400;font-size:12px}
#header .login-area .user-card .card-history a:hover{background-color:transparent;color:#d81200}
#header .login-area .user-card .card-setting{*zoom:1;padding:0 20px}
#header .login-area .user-card .card-setting:after{display:table;content:"";clear:both}
#header .login-area .user-card .card-setting a{color:#787d82;font-size:12px;line-height:40px;height:auto;width:auto}
#header .login-area .user-card .card-setting a:hover{background-color:transparent;color:#f01400}
#header .down-app{float:right}
#header .down-app a{display:block;padding:0 8px;height:60px;line-height:60px;text-align:center}
#header .down-app a i{display:inline-block;width:11px;height:16px;background:url(/img/head-app-icon.png) 0 0 no-repeat;vertical-align:-3px;margin-right:5px;-webkit-transition:background-position .3s;-moz-transition:background-position .3s;-ms-transition:background-position .3s;-o-transition:background-position .3s;transition:background-position .3s}
#header .down-app a:hover i{background-position:0 -16px}
#header .search-area{float:right;width:240px;height:30px;margin:15px 20px 15px 0;*zoom:1}
#header .search-area:after{display:table;content:"";clear:both}
#header .search-area input{-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-ms-transition:background-color .3s;-o-transition:background-color .3s;transition:background-color .3s}
#header .search-area .search-input{width:190px;height:20px;line-height:20px;font-size:12px;padding:5px 10px;float:left;color:#14191e;background-color:#363c41}
#header .search-area .search-input::-webkit-input-placeholder{color:#787d82}
#header .search-area .search-input:-moz-placeholder{color:#787d82}
#header .search-area .search-input::-moz-placeholder{color:#787d82}
#header .search-area .search-input:-ms-input-placeholder{color:#787d82}
#header .search-area .search-input:focus{background-color:#fff}
#header .search-area .search-input:focus+.search-btn{background-color:#fff;background-position:0 -40px}
#header .search-area .search-btn{width:30px;height:30px;float:left;background:#363c41 url(/img/gsearch-sprite.png) 0 0 no-repeat}