/*icon style*/
@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-c9v9sm');
  src: url('/fonts/icomoon.eot?-c9v9sm#iefix') format('embedded-opentype'), url('/fonts/icomoon.woff?-c9v9sm') format('woff'), url('/fonts/icomoon.ttf?-c9v9sm') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.2px;
}
.icon-show-pw:before {
  content: "\e648";
}
.icon-share-weibo:before {
  content: "\e645";
}
.icon-share-weichat:before {
  content: "\e646";
}
.icon-share-qq:before {
  content: "\e647";
}
.icon-share-weibo:before {
  content: "\e645";
}
.icon-share-weichat:before {
  content: "\e646";
}
.icon-share-qq:before {
  content: "\e647";
}
.icon-tick:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-clock:before {
  content: "\e602";
}
.icon-chat:before {
  content: "\e603";
}
.icon-msg:before {
  content: "\e604";
}
.icon-resp:before {
  content: "\e605";
}
.icon-addques:before {
  content: "\e606";
}
.icon-user:before {
  content: "\e607";
}
.icon-wiki:before {
  content: "\e608";
}
.icon-plan:before {
  content: "\e609";
}
.icon-note:before {
  content: "\e60a";
}
.icon-edit:before {
  content: "\e60b";
}
.icon-share:before {
  content: "\e60c";
}
.icon-set:before {
  content: "\e60d";
}
.icon-camera:before {
  content: "\e60e";
}
.icon-del:before {
  content: "\e60f";
}
.icon-search:before {
  content: "\e610";
}
.icon-key:before {
  content: "\e611";
}
.icon-mail:before {
  content: "\e612";
}
.icon-smail:before {
  content: "\e613";
}
.icon-point:before {
  content: "\e614";
}
.icon-ques:before {
  content: "\e615";
}
.icon-tick2:before {
  content: "\e616";
}
.icon-chapter:before {
  content: "\e617";
}
.icon-mobile:before {
  content: "\e618";
}
.icon-gotop:before {
  content: "\e619";
}
.icon-statistic:before {
  content: "\e61a";
}
.icon-code:before {
  content: "\e61b";
}
.icon-video:before {
  content: "\e61c";
}
.icon-test:before {
  content: "\e61d";
}
.icon-menu:before {
  content: "\e61e";
}
.icon-plus:before {
  content: "\e61f";
}
.icon-sub:before {
  content: "\e620";
}
.icon-close:before {
  content: "\e621";
}
.icon-down:before {
  content: "\e622";
}
.icon-left:before {
  content: "\e623";
}
.icon-top:before {
  content: "\e624";
}
.icon-right:before {
  content: "\e625";
}
.icon-exit:before {
  content: "\e626";
}
.icon-refresh:before {
  content: "\e627";
}
.icon-again:before {
  content: "\e628";
}
.icon-bell:before {
  content: "\e629";
}
.icon-nobell:before {
  content: "\e62a";
}
.icon-nolearn:before {
  content: "\e62b";
}
.icon-half:before {
  content: "\e62c";
}
.icon-full:before {
  content: "\e62d";
}
.icon-point-revert:before {
  content: "\e62e";
}
.icon-ques-revert:before {
  content: "\e62f";
}
.icon-tick-revert:before {
  content: "\e630";
}
.icon-flag:before {
  content: "\e631";
}
.icon-msg-revert:before {
  content: "\e632";
}
.icon-ad:before {
  content: "\e633";
}
.icon-imooc:before {
  content: "\e634";
}
.icon-thumb:before {
  content: "\e635";
}
.icon-thumb-revert:before {
  content: "\e636";
}
.icon-star:before {
  content: "\e637";
}
.icon-star-revert:before {
  content: "\e638";
}
.icon-heart:before {
  content: "\e639";
}
.icon-heart-revert:before {
  content: "\e63a";
}
.icon-qq:before {
  content: "\e63b";
}
.icon-weibo:before {
  content: "\e63c";
}
.icon-qqweibo:before {
  content: "\e63d";
}
.icon-weixin:before {
  content: "\e63e";
}
.icon-folder:before {
  content: "\e63f";
}
.icon-jian:before {
  content: "\e640";
}
.icon-ding:before {
  content: "\e641";
}
.icon-you:before {
  content: "\e642";
}
.icon-apple:before {
  content: "\e643";
}
.icon-android:before {
  content: "\e644";
}