@import url("./reset.less");
@import url("./mixins.less");
@import url("./icon.less");
@import url("./header.less");
@import url("./banner.less");
body{
	min-width: 1200px;
}
.fl{
	float: left !important;
}
.fr{
	float: right !important;
}
.idx-width{//首页主要宽度
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
// index-box
.index-box{
	position: relative;
	.box-height{
		height: 400px;
	}
	&.box1{
		background-color: #fff;
		.inner-box{
			width: 944px;
			padding: 50px 128px;
			text-align: center;
			.clearfix();
			.icon1{
				float: left;
			}
			.icon2{
				float: right;
			}
		}
	}
	&.box2{
		background-color:#eef1f2;
		.idx-width{
			img{
				position: absolute;
			}
			.star{
				top: -20px;
			}
			.video{
				top: -31px;
			}
			.text1{
				top: 164px;
				right: 114px;
			}
		}
	}
	&.box3{
		background-color: #fff;
		img{
			position: absolute;
		}
		.computer{
			right: 0;
			top:-26px;
		}
		.text2{
			top: 164px;
			left:70px;
		}
	}
	&.box4{
		background-color: #eef1f2;
		img{
			position: absolute;
		}
		.rockets{
			top: -46px;
			left: 0px;
		}
		.smoke{
			bottom: 0;
			left: 0;
		}
		.calendar{
			left: 0;
			top: 0;
		}
		.text3{
			top: 165px;
			right:165px;
		}
	}
	&.box5{
		background-color: #fff;
		img{
			position: absolute;
		}
		.text4{
			top: 165px;
			left: 146px;
		}
		.hand,.icon{
			right: 0px;
			top: -30px;
		}
	}
}
//index-ad
.class-box{
	background-color: #eef1f2;
}
.ad-banner{
	ul{
		.clearfix();
		li{
			width: 400px;
			float: left;
			overflow: hidden;
			a{
				display: block;
				.opacity(80);
				-webkit-transition: opacity 0.3s;
				-moz-transition: opacity 0.3s;
				-ms-transition: opacity 0.3s;
				-o-transition: opacity 0.3s;
				transition: opacity 0.3s;
				&:hover{
					.opacity(100);
				}
			}
		}
	}
}
ul.hot-class-list{
	.clearfix();
	li{
		width: 280px;
		margin: 10px;
	}
}